<!doctype html>
<html lang="en">
  <head>
    <title>Chat App</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style>
    	div.msgbbl {
    		background-color: #ddd;
    		padding: 5px 10px;
    		border-radius: 10px;
    		color: #555;
    		margin-bottom: 5px;
    	}
    </style>
  </head>
  <body>
	
	<div class="container">
		<div class="row">
			<div class="card card-body bg-light text-center">
				<h2>My Chat App</h2>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-8">
				<div id="nomsg">
					{% if not messages %}
						<h1 style="color: #ccc;">No message yet</h1>
						<div class="msg-wrapper"></div>
					{% else %}
						{% for message in messages %}
							<div class="msg-wrapper">
								<div class="msgbbl">
									<b>{{ message.user }}: </b>{{ message.message }}
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</div>
			</div>
			<div class="col-sm-4">
				<form action="" method="POST">
					<b>Type your message bellow span</b>
					<hr>
					<div class="form-group">
						<label>User name</label>
						<input type="text" class="form-control username"  placeholder="Enter user name">
					</div>
					<div class="form-group">
						<label>Message</label>
						<input type="text" class="form-control message"  placeholder="Message">
					</div>
					<button type="submit" class="btn btn-primary">Send message</button>
				</form>
			</div>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

    <script src="static/js/script.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>